beautifulsoup4==4.12.3
requests==2.31.0
selenium==4.18.1
webdriver-manager==4.0.1
fake-useragent==1.4.0
python-dateutil==2.8.2
ratelimit==2.2.1
tenacity==8.2.3
backoff==2.2.1
psycopg2-binary==2.9.9
pyyaml==6.0.1
pandas==2.2.1 